body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 1300px;
  font-family: "Open Sans","Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
/*-----------HEADER SECTION------------------------------*/
header {
  display:flex;
  flex-direction: column;
  background-image: url(../images/header.jpg);
  align-items: center;
  margin-top: 0;
  min-height: 512px;
}

header .logo-and-text {
  display:flex;
  align-items: center;
  flex-grow: 1;
}

header .logo-and-text p {
  margin-left: 1em;
}

header .nav-bar {
  display:flex;
  justify-content: space-between;
  width: 75%;
  margin-top: 0;
  margin-bottom: 4em;
}

header .nav-bar p {
  margin-top: 1em;
  color: #0C273F;
}

header h1 {
  color: white;
  font-size: 6em;
  font-weight: normal;
  margin-bottom: 0;
  text-align: center;
  width: 75%;
  font-family: "Ubuntu Condensed", sans-serif;
}

header p {
  margin-top: -1%;
  font-size: 1em;
  color: #0C273F;
}

header ul {
  list-style: none;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Oswald", sans-serif;
  color: ##003352;
}

header ul li {
  margin-right: 1em;
}

header a {
  text-decoration: none;
  color: #003352;
}

header form {
  display:flex;
  align-items: center;
}

header button {
  border: none;
  height: 16px;
  width: 18px;
  background-color: transparent;
  background-image: url(../images/search-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 4%;
}

/*---------------Text Gallery--------------------*/
h2 {
  font-family: 'Oswald', sans-serif;
  color: #0C2740;
}

.content-display {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  /*border: 1px solid blue;*/
}

.content-display .main-column {
  /*border: 1px solid red;*/
  width: 65%;
}

.content-display .sidebar {
  width: 30%;
  /*border: 1px solid yellow;*/
}

/*---------Main Column--*/
.main-column {
  margin-right: 5%;
}

.main-column h2{
  font-size: 3.5em;
  font-weight: normal;
  margin-bottom: 0;
}

.content-display p {
  color: #4B555C;
}

.content-display h3 {
  color: #3D7DBA;
  font-size: 2em;
  border-left: 1px solid #C9C9C9;
  padding-left: 3%;
}

.content-display h4 {
  color: #3D7DBA;
  font-family: "Oswald", sans-serif;
}

.content-display a:link {
    color: #ACB9C4;
}

.content-display a:hover {
  color: #4181BB;
}

.title-footer {
  display:flex;
  align-items: center;
}

.title-footer p {
  color: #ACB9C4;
  font-size: .8em;
}

.title-footer .author{
  margin-left: 2%;
  margin-right: 2%;
  color: #3D7DBA;
}

.title-footer a {
  margin-left: 1%;
}

.social-media-footer {
  display: flex;
}

.media-button {
  display: flex;
  align-items: center;
  margin-right: 1%;
  margin-left: 1%;
  white-space: nowrap;
}

.media-button button {
  background-color: #4B555C;
  height: 26px;
  width: 26px;
  border: none;
  background-size: 11px;
  background-repeat: no-repeat;
  background-position: center;
}

.media-button [name=comment] {
  background-image: url(../images/icon-comment.png);
}

.media-button [name="later"] {
  background-image: url(../images/icon-upload.png);
}

.media-button [name="share"] {
  background-image: url(../images/icon-share.png);
  background-color: #0C2740;
}

.media-button p {
  background-color: #92A3B2;
  max-height: 26px;
  padding: .3em;
  font-size: .8em;
  color: white;
}

/*---This must follow .media-button p because the id level is the same----*/
.blue p {
  background-color: #1858A4;
}

/*----------------Sidebar---*/
.sidebar {
  min-width: 273px;
}
.author-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.5em;
}

.author-box h4 {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0;
}

.author-box ul {
  list-style: none;
  display:flex;
  justify-content: center;
  padding: 0;
  margin-top: 0;
  /*border: 1px solid red;*/
}

.author-box ul li {
  font-size: .85em;
  margin-right: 5%;
}

.author-box a {
  text-decoration: none;
}

.ad-info {
  display: flex;
  justify-content: flex-end;
}

.ad-info a {
  font-size: .85em;
}

.sidebar p {
  margin-top: .3em;
  font-size: .85em;
  color: #92A3B2;
}

.sidebar h5 {
  font-size: 1.3em;
  font-weight: lighter;
  color: #3D7DBA;
  font-family: "Oswald", sans-serif;
  margin-top: 2em;
  margin-bottom: 0;
}


/*-------------Footer Section------------------------*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #92A3B2;
  border-top: 1px solid #DAE1E4;
  margin-top: 2em;
}

footer h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 4em;
  font-weight: 500;
  color: #0C263E;
}

footer .bottom-nav {
  width: 100%;
  background-color: #0C2740;
}

footer .link-bar {
  display:flex;
  width: 100%;
  /*border: 1px solid red;*/
}

.post-link-with-image button {
  border: none;
  width: 325px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
  font-family: "Oswald", sans-serif;
  font-size: 2em;

  color: #003353;
  background-color: none;
}

.post-link-with-image button[name="another-cool-post"] {
  background: linear-gradient(
    rgba(0, 105, 182, 0.5),
    rgba(0, 105, 182, 0.5)
  ),
  url(../images/article-image-1.jpg);
}

.post-link-with-image button[name="another-cool-post"]:hover {
  background: url(../images/article-image-1.jpg);
}

.post-link-with-image button[name="post-title"] {
  background: linear-gradient(
    rgba(0, 105, 182, 0.5),
    rgba(0, 105, 182, 0.5)
  ),
  url(../images/article-image-2.jpg);
}

.post-link-with-image button[name="post-title"]:hover {
  background: url(../images/article-image-2.jpg);
}

.post-link-with-image button[name="longer-post-title"] {
  background: linear-gradient(
    rgba(0, 105, 182, 0.5),
    rgba(0, 105, 182, 0.5)
  ),
  url(../images/article-image-3.jpg);
}

.post-link-with-image button[name="longer-post-title"]:hover {
  background: url(../images/article-image-3.jpg);
}

.post-link-with-image button[name="oh-cool"] {
  background: linear-gradient(
    rgba(0, 105, 182, 0.5),
    rgba(0, 105, 182, 0.5)
  ),
  url(../images/article-image-4.jpg);
}

.post-link-with-image button[name="oh-cool"]:hover {
  background: url(../images/article-image-4.jpg);
}

.post-link-with-image button:hover {
  background-color: transparent;
  color: #FFFFFF;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: .85em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.bottom-nav .logo {
  width: 46px;
  height: 35;
  background-image: url(../images/theironyard-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  color:transparent;
  margin-right: 2%;
}

.bot-logo-and-text {
  display:flex;
  align-items: center;
  white-space: nowrap;
}

.bottom-nav ul {
  list-style: none;
  display: flex;
}

.bottom-nav li {
  padding-left: 2%;
  padding-right: 2%;
  border-right: 1px solid #A0B3C0;
  white-space: nowrap;
}

.bottom-nav li:last-child {
  border-right: none;
}
